{
  "extends": "airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "max-classes-per-file": off,
  },
  "plugins": [
      "import",
      "mocha"
  ]
}
